name: "GitHubActions-Terraform-Destroy"
run-name: ${{ github.actor }} has triggered the Destroy pipeline
on:
  workflow_dispatch: # Allows manual triggering from GitHub Actions UI

permissions:
  id-token: write # This is required for aws oidc connection
  contents: read # This is required for actions/checkout
  pull-requests: write # This is required for gh bot to comment PR

env:
  TF_CLOUD_ORGANIZATION: "cloud_infra_dev"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "github_actions_oidc_tfc"
  CONFIG_DIRECTORY: "./"
  TF_LOG: INFO
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  terraform_destroy:
    name: "Terraform_Destroy"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        # working-directory: .

    steps:
      - name: "Checkout code from Repository (same as git clone)"
        uses: actions/checkout@v3

      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHubActions-Terraform
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version: 1.13.3

      - name: Terraform Init
        id: init
        # run: terraform init
        run: |
          echo -e "access_key = \"${AWS_ACCESS_KEY_ID}\"\nsecret_key = \"${AWS_SECRET_ACCESS_KEY}\"\ntoken = \"${AWS_SESSION_TOKEN}\"\nregion = \"${AWS_REGION}\"" | tee credentials.auto.tfvars
          terraform init
        env:
          TF_LOG: ERROR

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        env:
          TF_LOG: ERROR
          TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
